# Python
__pycache__/
*.pyc
.venv/
venv/
env/
*.log
debug_screenshots/
*.db
# 忽略 OCR 模型与调试截图
models/
*.tar
*.onnx
*.pth
# Node.js
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.log

# IDE
.vscode/
.idea/
*.iml
.DS_Store

# 项目数据（可选）
projects/